DATABASE_URL="postgresql://postgres.xlssgnnrtautldouirkt:%40YOURPASSWORD@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.xlssgnnrtautldouirkt:%40YOURPASSWORD@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://xlssgnnrtautldouirkt.supabase.co"

NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhsc3Nnbm5ydGF1dGxkb3Vpcmt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MzMzMTEsImV4cCI6MjA5NTIwOTMxMX0.MfMusCJYkig4TtNcy_QbYx-LQjPjZxKVH7pJNW6DUIc"


SUPABASE_SERVICE_ROLE_KEY = "ey...."


